@import "tailwindcss";

@utility container{
  margin: 0 auto;
}

@theme{
  --color-primaryColor : #191818;
  --color-secondColor : #0b0b0b;
  --color-brandColor : #f1ecec;
   
  --font-headerFont : "Magra", sans-serif; 
  --font-regularFont : "Afacad", sans-serif;
}

