@import "tailwindcss";

@utility container {
  margin: 0 auto;
}

@theme {
  --color-primary: #222831;
  --color-secondary: #41464d;
  --color-base: #fadcab;
  --color-brand: #dfd2bc;
  --color-text: #eae4d5;

  --font-headerFont: "Cal Sans", sans-serif;
  --font-regularFont: "PT Sans", sans-serif;
}

*::-webkit-scrollbar{
  display: none;
}

a {
  display: inline-block;
}

.input-css {
  font-size: 25px;
  font-weight: 600;
  background-color: #fadcab white;
  color: black;
  border: 3px solid black;
}

.input-shadow {
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.signIn-shadow {
  box-shadow: #9c8e78 0px 2px 4px 0px, #dfd0b8 0px 2px 16px 0px;
}

.chat-search:hover{
  box-shadow: #9c8e78 0px 2px 4px 0px, #dfd0b8 0px 2px 16px 0px;
}

.input-massage-shadow{
  box-shadow: #dfd0b8 0px 0px 10px 0px;
}

.error404-css{
  
    -webkit-text-stroke: 2px  #090909;
     color: white;

}

.error-text{
   word-spacing: 15px;
}